body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}
.navbar-wrapper{
  background-color: blue;
}
.border-on-hover:hover,
li.active .border-on-hover
{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.transparent-navbar{
  background-color: transparent;
  border: none;
  color: #fff;
  margin-bottom: 0;
}
.custom-collapse:after,
.custom-collapse:before{
  display: inline;
}
.custom-size{
  width: 44px;
  height: 34px;
}
.bg {
  background: url('images/bg.jpg') no-repeat center center;
  position: absolute;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:50px;
  left:0;
  z-index: -1;
  background-size: cover;
}
/*.jumbo-wrapper{
  width: 100%;
  overflow-y: hidden;
}*/
.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  background:transparent;
}
.jumbotron h1{
  text-align: center;
}
.jumbo-figures{
  width: 100px;
}
.btn-link{
  background-color: blue;
  color: #fff;
  padding: 10px;
}
.btn-link:hover{
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-decoration: none;
}
.btn-link:hover span{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.fixed-height-row{
  height: 200px;
}
.btn-action{
  background-color: #fff;
  border: 1px solid #000;
  padding: 0 10px;
  height: 40px;
}
.btn-action:hover{
  background-color: blue;
  cursor: pointer;
  border-color: blue;
  height:42px;
}
.content{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 40px;
  padding: 1px 0;
  margin: -1px 0 0 0;
}
.btn-action:hover .content{
  color: #fff;
  background-color: blue;
}
.area-wrapper{
  padding: 0 10px 10px 10px;
  text-align: center;
}
/*.area-wrapper:hover{
  background-color: blue;
}*/
.it-areas{
  margin-top: 20px;
}
.it-areas .area{
  background-color: #ccc;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  /**/
  display: inline-block; max-width: 150px; vertical-align: top;
}
.it-areas .area .passive{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.it-areas .area .active{
  display: none;
}
.it-areas .area .active ul{
  list-style-type: none;
  padding-left: 0;
}
.area-wrapper:hover .area,
.it-areas .area:hover{
  background-color: blue;
}
.it-areas .area:hover .passive{
  border-top: 0;
}
.it-areas .area:hover .active{
  display: block;
  text-align: left;
}
.icon-button
{
  padding-top:6px;
}
.custom-search{
  border-radius: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.section-title{
  background-color: #F8F8F8;
  color: blue;
  margin: 40px 0 20px;
  padding: 5px;
  text-align: center;
}
.company{
  background-color: #F8F8F8;
  height: 330px;
  padding: 10px;
}
.position-title{
  color: blue;
}
.date,
.hashtag,
.watched{
  color: #ccc;
}
.white-hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}
.company-logo{
  width: 100%;
  height: auto;
}
.contact-person-label{
  font-size: 12px;
}
.contact-person{
  color: #000;
  text-decoration: underline;
}
.company-request{
  margin-top: 10px;
}
.centered-content{
  text-align: center;
}